/* src/components/CoursePage.css */

.course-page {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
    width: 1300px;
  }
  
  .sidebar {
    width: 200px;
    background-color: #00bfa6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  
  .sidebar li:hover,
  .sidebar li.active {
    background-color: #009688;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .main-content header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    }

    .search-bar {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    }
  
  header input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .course-card {
    background-color: #ffebee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .course-card img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .course-info h3 {
    margin: 0 0 10px 0;
  }
  
  button {
    background-color: #00bfa6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #009688;
  }
  
  .reminder {
    width: 200px;
    background-color: #fff59d;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reminder-item {
    background-color: #00bfa6;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .reminder-item:hover {
    background-color: #009688;
  }
  