.course-card {
    background-color: #F8E1E1;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .course-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .course-info {
    display: flex;
    flex-direction: column;
  }
  
  .course-info h3 {
    margin: 0;
  }
  
  .course-info p {
    margin: 5px 0;
  }
  
  .course-info button {
    margin-top: 10px;
    padding: 10px;
    background-color: #5E8DF5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .course-info button:hover {
    background-color: #4cb0a9;
  }
  