/* Home.css */

.home-container {
    display: flex;
    width: 1300px;
    height: 100%;
    background-color: #d3e6ff; /* Warna latar belakang yang mirip dengan gambar kedua */
}

/* Sidebar */
.sidebar {
    width: 200px;
    background-color: #00bfa6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #00a3a3;
    text-align: center;
}

.sidebar a:hover {
    background-color: #008080;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    color: black;
}

.main-content header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.search-bar {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.main-content section {
    margin-top: 20px;
}

.main-content h2{
    color: black;
}

/* Course Card */
.course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffe5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.course-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Progress and Next Recommended */
.progress-cards, .next-recommended {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.progress-card, .recommended-card {
    flex: 1;
    background-color: #ffe5e5;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.progress-card img, .recommended-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
