.language-page {
    background-color: #5E8BFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .language-selector {
    color: white;
  }
  
  .language-selector select {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  h2 {
    margin-top: 20px;
    color: white;
  }
  
  .language-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .language-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 150px;
  }
  
  .language-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .language-card p {
    font-size: 1rem;
    font-weight: bold;
  }
  