.progress-card {
    background-color: #F8E1E1;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .progress-card img {
    width: 100px;
    height: 60px;
    border-radius: 5px;
  }
  
  .progress-card p {
    margin-top: 10px;
    font-size: 18px;
  }
  