.reminder {
    width: 250px;
    background-color: #FFDD73;
    padding: 20px;
  }
  
  .reminder h2 {
    margin: 0 0 20px;
  }
  
  .reminder ul {
    list-style: none;
    padding: 0;
  }
  
  .reminder ul li {
    background-color: #58D6C3;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
  }
  