.settings-container {
    display: flex;
    width: 1300px;
    height: 100%;
    background-color: #d3e6ff; /* Warna latar belakang yang mirip dengan gambar kedua */
}

.sidebar {
    width: 200px;
    background-color: #00bfa6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #00a3a3;
    text-align: center;
}

.sidebar a:hover {
    background-color: #008080;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    color: black;
}

.header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.settings-content {
    margin-top: 20px;
}

.section-title {
    font-size: 1.5em;
    margin: 20px 0 10px;
}

.setting-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.toggle-label:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-input:checked + .toggle-label {
    background-color: #00bfa6;
}

.toggle-input:checked + .toggle-label:before {
    transform: translateX(26px);
}

.done-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #00bfa6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.done-button:hover {
    background-color: #00a3a3;
}

.side-links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-links a {
    color: #00bfa6;
    text-decoration: none;
    font-size: 1em;
}

.side-links a:hover {
    text-decoration: underline;
}

