.shop-container {
    display: flex;
    width: 1300px;
    height: 100%;
    background-color: #d3e6ff; /* Warna latar belakang yang mirip dengan gambar kedua */
}

/* Sidebar */
.sidebar {
    width: 200px;
    background-color: #00bfa6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #00a3a3;
    text-align: center;
}

.sidebar a:hover {
    background-color: #008080;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    color: black;
}

.main-content header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.search-bar {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.shop-title {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

.choose-language {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.languages-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.language-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffe5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.language-card img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.language-card span {
    font-size: 1.2em;
}

/* Reminder */
/* .reminder {
    width: 200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    border-radius: 10px;
}

.reminder h3 {
    margin-bottom: 10px;
}

.reminder ul {
    list-style: none;
    padding: 0;
}

.reminder li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.reminder li:last-child {
    border-bottom: none;
} */
