.sidebar {
    width: 250px;
    background-color: #58D6C3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .logo {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar ul li {
    margin: 10px 0;
    width: 100%;
  }
  
  .sidebar ul li button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background: none;
    border: none;
    color: white;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
  }
  
  .sidebar ul li button:hover {
    background-color: #4cb0a9;
  }
  