/* CSS untuk menempatkan form di tengah */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5E8BFF; /* Warna latar belakang utama */
}

.SignUpForm {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.SignUpForm h2 {
  margin-bottom: 20px;
  color: black;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5E8DF5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4b72d1;
}

p {
  margin-top: 15px;
}

p a {
  color: #5E8DF5;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
