.App {
  margin-top: auto;
  text-align: center;
  background-color: #5E8BFF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #5E8BFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 1200px; Maksimal lebar untuk konten */
  text-align: center;
  margin: auto;
}

.App-title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
}
